/* ********** Countries Component ********** */
.countries {
    margin: 2em;

    // Countries Item
    &__item {
        position: relative;
        display: flex;
        padding-bottom: 2em;
        margin: 1em;
        @include mq(m) {padding-bottom: 1.5em;}
    }

    // Countries Content
    &__content {
        position: absolute;
        bottom: 5%;
        color: var(--text-color-white);
        margin-left: 1em;
        margin-bottom: 1em;
        
        @include mq(m) {bottom: 1%; padding-bottom: .5em;}
    }

    // Countries Name
    &__name {
        display: block;
        font-size: 2em;
        @include mq(m) {font-size: 1.5em;}
    }

    // Countries Price
    &__price {
        @include mq(m) {font-size: 1em;}
    }

    // Countries Img
    &__img {
        height: 120vw;    
        width: 100vw;
        object-fit: cover;
        filter: brightness(50%);
        @include mq(m) {height: 25vw;}
    }

    // Countries Topic
    &__topic { 
        font-size: 1.5em; 
        text-align: center;
        padding-bottom: 2em;
        @include mq(m) {font-size: 2em}    
    }

    // Countries Span
    &__span {
        display: block; 
        text-align: center;
        text-transform: uppercase;
        padding-top: 2em;
        color: var(--seven-color);
    }

    // Countries Buttom
    &__buttom {
        width:30px;
        height:30px;
        padding: 5px;
        $color: rgba(8,174,234,.9);
        $color2: rgba(42,245,152,.9);
        background: linear-gradient(rgba($color,.9),rgba($color2,.9));
        border-radius: 50px;
        color: var(--quaternary-color);
        float: right;
        margin-left: 2em;
        @include mq(m) {margin-left: 2em;}
        
    }

    // Countries Grid
    &__grid {
        @include mq(m) {
            display: grid;
            grid-template-columns: repeat(4,1fr);       
        }
    }

    // Countries Arrow
    &__arrow {
        width: 1em;
        height: auto;
        object-fit: cover; 
    }


}