/* ********** Experience Component ********** */
.experience {
    margin: 2em auto;
    text-align: center;
    color: var(--text-color-black);

    @include mq(m) { margin: 4em auto; }

    // experience__container
    &__container {
      width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-content: center;
      align-items: start;
      gap: 1em;

      @include mq(m) { grid-template-columns: repeat(4,1fr); }
    }

    // experience__num
    &__counter {
      display:
      block; font-size: 2em;
      font-family: var(--secondary-font);
      font-weight: bolder;
     }

    // experience__span
    &__name {
      text-transform: uppercase;
      font-size: .8em;
      font-family: var(--primary-font-thin);
      font-weight: 100;
     }
}
