/* ********** Offers Component ********** */
.offers {

    margin: 2em auto;
    text-align: center;
    color: var(--text-color-black);
    
    //offers__container
    &__item {
        @include mq(m) {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-content: center;
            align-items: center;       
        }

        @include mq(l) { margin-left: 5em; margin-right: 5em;}
    }

    // offers__card
    &__card {
        box-shadow: 0 4px 8px 0 var(--tertiary-color);
        transition: 0.3s;
        margin: 2em auto;
        width: 90%;

        &:hover {
            box-shadow: 0 8px 16px 0 var(--primary-color);
        }
    }

    // offers__image
    &__image {
        width: 500px;
        height: 250px;
        object-fit: cover;      
    }

    //offers__price
    &__price {
        display: block;
        padding-top: 1em;
        font-size: .7em;

        @include mq(m) {font-size: .5em;}
    }

    //offers__place
    &__place {
        display: block;
        font-size: 1.2em;
        color: var(--primary-color);
        font-family: var(--primary-font-thin);

        @include mq(m) { font-size: .7em; }
    }

    //offers__duration
    &__duration {
        display: block;
        padding-bottom: 1em;
        font-size: .7em;

        @include mq(m) {font-size: .5em;}
    }

    //offers__topic
    &__topic { 
        font-size: 1.5em; 
        @include mq(m) {font-size: 2em}    
    }

    //offers__span
    &__span {
        display: block;
        text-transform: uppercase;
        font-family: var(--primary-font-thin);
        padding-top: 2em;
    }



    
}