/* ********** Travelers Component ********** */
.travelers {
    margin: 2em auto;
    text-align: center;
    align-items: center;
    color: var(--text-color-black);

    // Travelers Topic
    &__topic { 
        font-size: 1.5em; 
        @include mq(m) {font-size: 2em}    
    }

    // Travelers Item
    &__item {
        margin: 2em auto; 
        
        @include mq(m) {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-content: center;
            align-items: center;  
            gap: 1em;     
        }
    }

    // Travelers Span
    &__span {
        display: block;
        text-transform: uppercase;
        font-family: var(--primary-font-thin);
        padding-top: 2em;
        color: var(--seven-color);
    }

    // Travelers Card
    &__card {
        margin-bottom: 2em;
        box-shadow: 0 4px 8px 0 var(--six-color);
        background-color: var(--six-color);
        transition: 0.3s;
        width: 100%;
    }

    //Travelers Name
    &__name {
        color: var(--five-color);
        display: block;
    }

    // Travelers Comment
    &__comment {
        display: block;
        padding: 2em;
    }

    // Traveler Avatar
    &__avatar {
        padding-top: 2em;
    }

    // Traveler Icon
    &__icon {
        padding-bottom: 2em;
    }


    // Ready Buttom
    &__buttom {
        text-decoration: none;
        padding: 15px;
        padding-left: 35px;
        padding-right: 35px;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        $color: rgba(8,174,234,.9);
        $color2: rgba(42,245,152,.9);
        background: linear-gradient(rgba($color,.9),rgba($color2,.9));
        color: var(--quaternary-color);
        
        border-radius: 2em;
        margin-left: .5em;
    }
    
    // Ready Image
    &__image {
        height: calc(100vh - 60px);    
        width: 100vw;
        object-fit: cover;
        @include mq(m) {height: 40vw;}
    }

    // Ready Img
    &__img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // Ready Content
    &__content {
        position: absolute;
        text-align: center;
        bottom: 20%;
        color: var(--text-color-white);
       
    }

    // Ready Title
    &__title {
        font-size: 2em;
        display: block;
        padding-bottom: 1em;
        @include mq(m) {font-size: 2.5em;}
    }
}