footer.footer
    .footer__container.l-container
        .footer__item
            h4.footer__title Quick Links
            a(class="footer__links" href="#") Home
            a(class="footer__links" href="#") About Company
            a(class="footer__links" href="#") Testimonials
            a(class="footer__links" href="#") Infrastructure
        .footer__item
            h4.footer__title Support
            a(class="footer__links" href="#") Get Started
            a(class="footer__links" href="#") Lorem
            a(class="footer__links" href="#") Help
            a(class="footer__links" href="#") Ipsum
        .footer__item
            h4.footer__title Address
            span.footer__address 14, 1 Ellis bridge ST, 
            span.footer__address auckland 3500, Australia
            span.footer__address +1234567890
            span.footer__address contactus@demo.com
        .footer__item
            h4.footer__title Subscribe to our newsletter
            .footer__form
                input(class="footer__input" type="email" placeholder="Your Email")
                .footer__buttomContent 
                    a(class="footer__buttom" href="#") 
    hr
    .footer__reserved
        span.footer__span trourism©All Rights Reserved
