header.header
  .header__container.l-container
    a(class="logo", href="/"): img(class="logo__image", src="/assets/images/logo.svg", alt="Tourist Logo")
    .hamburger#hamburger
    nav.nav#menu
      ul.menu
        li.menu__item
          a(class="menu__link", href="/") Home
        li.menu__item
          a(class="menu__link", href="#experience") About Us
        li.menu__item
          a(class="menu__link", href="#services") Our Services
        li.menu__item
          a(class="menu__link", href="#offers") Tour Package
