a(name="offers")
section.offers
    .offers__container
    span.offers__span We Offer
    h3.offers__topic Popular Tour Package
        .offers__item
          .offers__card
            img(class="offers__image" src="/assets/images/santorini.jpg", alt="Blue Beauty of Greece")
            span.offers__price $299/person
            a(class="offers__place" href="#") Blue Beauty of Greece
            span.offers__duration 5 Days / 6 Nights
          .offers__card
            img(class="offers__image" src="/assets/images/pucket.jpg", alt="Nature of Phucket")
            span.offers__price $178/person
            a(class="offers__place" href="#") Nature of Phucket
            span.offers__duration 3 Days / 4 Nights
          .offers__card
            img(class="offers__image" src="/assets/images/paris.jpg", alt="World Tour of Paris")
            span.offers__price $1111/person
            a(class="offers__place" href="#") World Tour of Paris
            span.offers__duration 7 Days / 8 Nights