section.ubication
    .ubication__container
        iframe(class="ubication__maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2844.217410587514!2d-87.92325728496229!3d44.53118080323197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8802e61d64ca7a93%3A0xd35c038e0e1219bd!2sUniversidad%20de%20Wisconsin-Green%20Bay!5e0!3m2!1ses-419!2smx!4v1590006973779!5m2!1ses-419!2smx")