section.video
  .video__container.l-container
    .video__item
      span.services__span Discover
      h2.services__topic Watch Our Video Tour
    .video__item
      img(class="video__image", src="/assets/images/video.jpg", alt="Watch Our Vide Tour")
