@font-face {
  font-family: 'Raleway Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Raleway Regular'), url('/assets/fonts/Raleway-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Light';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Raleway Light'), url('/assets/fonts/Raleway-Light.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Thin';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Raleway Thin'), url('/assets/fonts/Raleway-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Black';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Raleway Black'), url('/assets/fonts/Raleway-Black.woff') format('woff');
}



