/* ********** Custom Properties ********** */
:root {
  --primary-font:     'Raleway';
  --primary-font-thin: 'Raleway Thin';
  --primary-font-light: 'Raleway Light';
  --primary-font-black: 'Raleway Black';
  --secondary-font:   Arial;
  --font-size: 16px;
  --line-height: 1.6;

  --primary-color:    #08AEEA;
  --secondary-color:  #2AF598;
  --tertiary-color:   #141418;
  --quaternary-color: #FFF;

  --text-color-black: var(--tertiary-color);
  --text-color-white: var(--quaternary-color);

  --z-index-down:   25;
  --z-index-middle: 50;
  --z-index-up:     75;
  --z-index-above:  100;
}

/* ********** Breakpoints ********** */
$breakpoints: (
  xs: 30em, /* 480 / 16  */
  s:  37.5em, /* 600 / 16  */
  m:  45em, /* 720 / 16 */
  l:  64em, /* 1024 / 16 */
  xl: 75em /* 1200/ 16 */
);
