extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = 'This project was buuilding for know webpack-starter-kit funcionality.'
  - ogTitle         = 'Home'
  - ogDescription   = 'This project was buuilding for know webpack-starter-kit funcionality.'
  - ogUrl           = '/localhost:8080'
  - ogImage         = '/'

block body
  //- Hero Slider Section
  section.hero-slider
    .hero-slider__container
      .hero-slider__item
        img(class="hero-slider__image", src="/assets/images/greece.jpg", alt="Visita Grecia")
        .hero-slider__content.l-container
          span.hero-slider__offer From $199/Person
          h1.hero-slider__title Discover Greece
          span.hero-slider__slogan Travel with unique experience
      .scroll
        img(class="scroll__image", src="/assets/images/mouse.svg", alt="Scroll Mouse")

  //- Services Section
  section.services
    .services__container.l-container
      .services__item
        span.services__span Discover
        h2.services__topic Out Hot Services
        p.services__description Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      .services__item
        .services__gallery
          img(class="services__image", src="/assets/images/flight.jpg", alt="Flight Booking")
          span.services__title Flight Booking
          p.services__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum laboriosam, tempore.
        .services__gallery
          img(class="services__image", src="/assets/images/hotel.jpg", alt="Hotel & Resort Booking")
          span.services__title Hotel & Resort Booking
          p.services__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum laboriosam, tempore.
        .services__gallery
          img(class="services__image", src="/assets/images/family.jpg", alt="Family Trip Planer")
          span.services__title Family Trip Planer
          p.services__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum laboriosam, tempore.
        .services__gallery
          img(class="services__image", src="/assets/images/cruise.jpg", alt="Cruise Tour")
          span.services__title Cruise Tour
          p.services__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum laboriosam, tempore.
        .services__gallery
          img(class="services__image", src="/assets/images/fire.jpg", alt="Fire Camp")
          span.services__title Fire Camp
          p.services__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum laboriosam, tempore.
        .services__gallery
          img(class="services__image", src="/assets/images/corporate.jpg", alt="Corporate Holidays")
          span.services__title Corporate Holidays
          p.services__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum laboriosam, tempore.

  //- Video Section
  include ../includes/video.pug
