extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = 'This project was buuilding for know webpack-starter-kit funcionality.'
  - ogTitle         = 'Home'
  - ogDescription   = 'This project was buuilding for know webpack-starter-kit funcionality.'
  - ogUrl           = '/localhost:8080'
  - ogImage         = '/'

block body
  //- Hero Slider Section
  section.hero-slider
    .hero-slider__container
      .hero-slider__item
        img(class="hero-slider__image", src="/assets/images/greece.jpg", alt="Visita Grecia")
        .hero-slider__content.l-container
          span.hero-slider__offer From $199/Person
          h1.hero-slider__title Discover Greece
          span.hero-slider__slogan Travel with unique experience
      .scroll
        img(class="scroll__image", src="/assets/images/mouse.svg", alt="Scroll Mouse")
  //- Services Section
  a(name="services")
  section.services
    .services__container.l-container
      .services__item
        span.services__span Discover
        h2.services__topic Out Hot Services
        p.services__description Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      .services__item
        .services__gallery
          img(class="services__image", src="/assets/images/flight.jpg", alt="Flight Booking")
          span.services__title Flight Booking
          p.services__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum laboriosam, tempore.
        .services__gallery
          img(class="services__image", src="/assets/images/hotel.jpg", alt="Hotel & Resort Booking")
          span.services__title Hotel & Resort Booking
          p.services__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum laboriosam, tempore.
        .services__gallery
          img(class="services__image", src="/assets/images/family.jpg", alt="Family Trip Planer")
          span.services__title Family Trip Planer
          p.services__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum laboriosam, tempore.
        .services__gallery
          img(class="services__image", src="/assets/images/cruise.jpg", alt="Cruise Tour")
          span.services__title Cruise Tour
          p.services__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum laboriosam, tempore.
        .services__gallery
          img(class="services__image", src="/assets/images/fire.jpg", alt="Fire Camp")
          span.services__title Fire Camp
          p.services__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum laboriosam, tempore.
        .services__gallery
          img(class="services__image", src="/assets/images/corporate.jpg", alt="Corporate Holidays")
          span.services__title Corporate Holidays
          p.services__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum laboriosam, tempore.

  //- Video Section
  include ../includes/video.pug
  //- Experience Section
  a(name="experience")
  section.experience
    .experience__container.l-container
      .experience__item
        img(class="experience__image", src="/assets/images/star.svg", alt="Happy Travellers")
        span.experience__counter 120,859
        h3.experience__name Happy Travellers
      .experience__item
        img(class="experience__image", src="/assets/images/tour.svg", alt="Satisfied Tours")
        span.experience__counter 2594
        h3.experience__name Satisfied Tours
      .experience__item
        img(class="experience__image", src="/assets/images/world.svg", alt="Destination")
        span.experience__counter 854
        h3.experience__name Destination
      .experience__item
        img(class="experience__image", src="/assets/images/building.svg", alt="Hotel Resorts")
        span.experience__counter 978
        h3.experience__name Hotel Resorts
  
  //- Offers Section
  include ../includes/offers.pug
  //- Email Section
  section.email
    .email__container.l-container
      .email__item
        h3.email__title Get 10% Off on Your Next Travel
        p.email__subtitle Maximum doscout 1000$ per person
      .email__form
        input(class="email__input" type="email" placeholder="Enter Your Email")
        a(class="email__buttom" href="#") Subscribe
  //- Travelers Section
  section.travelers
    .travelers__container.l-container
      span.travelers__span Our Smile
      h3.travelers__topic Happy Travelers
      .travelers__item
        .travelers__card
          img(class="travelers__avatar" src="/assets/images/avatar1.png", alt="Avatar Travel")
          span.travelers__name Ribeca Singh
          p.travelers__comment Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          img(class="travelers__icon" src="/assets/images/icon.svg", alt="icon")
        .travelers__card
          img(class="travelers__avatar" src="/assets/images/avatar2.png", alt="Avatar Travel")
          span.travelers__name Jimmy Dean
          p.travelers__comment Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          img(class="travelers__icon" src="/assets/images/icon.svg", alt="icon")
        .travelers__card
          img(class="travelers__avatar" src="/assets/images/avatar3.png", alt="Avatar Travel")
          span.travelers__name Theodule Terer
          p.travelers__comment Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          img(class="travelers__icon" src="/assets/images/icon.svg", alt="icon")
    .travelers__img
      img(class="travelers__image" src="/assets/images/mountain.jpg", alt="Mountains Travel")
      .travelers__content
        h3.travelers__title Ready to plan your trip?
        a(class="travelers__buttom" href="#") Book Now
  //- Countries Section
  section.countries
    .countries__container.l-container
      span.countries__span Destination
      h3.countries__topic Popular Tourism Countries
      .countries__grid
        .countries__item
          img(class="countries__img" src="/assets/images/thailand.jpg", alt="Thailand Country")
          .countries__content
            h4.countries__name Thailand
            span.countries__price $900 - $1900
            a(class="countries__buttom" href="#"): img(class="countries__arrow" src="/assets/images/arrow.svg", alt="Arrow")
        .countries__item
          img(class="countries__img" src="/assets/images/italy.jpg", alt="Italy Country")
          .countries__content
            h4.countries__name Italy
            span.countries__price $700 - $2000
            a(class="countries__buttom" href="#"): img(class="countries__arrow" src="/assets/images/arrow.svg", alt="Arrow")
        .countries__item
          img(class="countries__img" src="/assets/images/indonesia.jpg", alt="Indonesia Country")
          .countries__content
            h4.countries__name Indonesia
            span.countries__price $300 - $1100
            a(class="countries__buttom" href="#"): img(class="countries__arrow" src="/assets/images/arrow.svg", alt="Arrow")
        .countries__item
          img(class="countries__img" src="/assets/images/thailand.jpg", alt="Singapore Country")
          .countries__content
            h4.countries__name Singapore
            span.countries__price $1900 - $2700
            a(class="countries__buttom" href="#"): img(class="countries__arrow" src="/assets/images/arrow.svg", alt="Arrow")
  //- Ubication Section
  include ../includes/ubication.pug

            


      
           

