extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = ''
  - ogTitle         = 'Home'
  - ogDescription   = ''
  - ogUrl           = ''
  - ogImage         = ''

block body

  //- Logo Section
  include ../includes/logo.pug
