extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = 'This project was buuilding for know webpack-starter-kit funcionality.'
  - ogTitle         = 'Home'
  - ogDescription   = 'This project was buuilding for know webpack-starter-kit funcionality.'
  - ogUrl           = '/localhost:8080'
  - ogImage         = '/'

block body
  //- Hero Slider Section
  section.hero-slider
    .hero-slider__container
      .hero-slider__item
        img(class="hero-slider__image", src="/assets/images/greece.jpg", alt="Visita Grecia")
        .hero-slider__content.l-container
          span.hero-slider__offer From $199/Person
          h1.hero-slider__title Discover Greece
          span.hero-slider__slogan Travel with unique experience
      .scroll
        img(class="scroll__image", src="/assets/images/mouse.svg", alt="Scroll Mouse")
  //- Services Section
  section.services
    .services__container
      .services__grid.l-container
        .services__item
          span.services__discover Discover
          h2.services__title Our Hot Services
          p.services__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        .services__item
          img(class="services__image" src="/assets/images/flight.jpg", alt="Flight Image")
          h2.services__title Flight Booking
          p.services__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam        
        .services__item
          img(class="services__image" src="/assets/images/hotel.jpg", alt="Hotel Image")
          h2.services__title Hotel y Resort Booking
          p.services__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam              
        .services__item
          img(class="services__image" src="/assets/images/family.jpg", alt="Family Image")
          h2.services__title Family Tripp Planner
          p.services__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam        
        .services__item
        .services__item
          img(class="services__image" src="/assets/images/cruise.jpg", alt="Flight Image")
          h2.services__title Cruise Tour
          p.services__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam        
        .services__item
          img(class="services__image" src="/assets/images/fire.jpg", alt="Hotel Image")
          h2.services__title Fire Camp
          p.services__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam              
        .services__item
          img(class="services__image" src="/assets/images/corporate.jpg", alt="Family Image")
          h2.services__title Corporate Holidays
          p.services__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam        
       
         

