extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = 'This project was buuilding for know webpack-starter-kit funcionality.'
  - ogTitle         = 'Home'
  - ogDescription   = 'This project was buuilding for know webpack-starter-kit funcionality.'
  - ogUrl           = '/localhost:8080'
  - ogImage         = '/'

block body
  //- Hero Slider Section
  section.hero-slider
    .hero-slider__container
      .hero-slider__item
        img(class="hero-slider__image", src="/assets/images/greece.jpg", alt="Visita Grecia")
        .hero-slider__content.l-container
          span.hero-slider__offer From $199/Person
          h1.hero-slider__title Discover Greece
          span.hero-slider__slogan Travel with unique experience
      .scroll
        img(class="scroll__image", src="/assets/images/mouse.svg", alt="Scroll Mouse")
